:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.active {
  @apply text-blue-500;
}

.active button {
  @apply border-blue-500;
}
